<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23788546894-n2hp8vt5j94q0rvsc22vr7mru8r44aml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23788546894-n2hp8vt5j94q0rvsc22vr7mru8r44aml</string>
	<key>API_KEY</key>
	<string>AIzaSyBH27xfCzNgH3IZAJE3-5CRwE4RPXpMcGk</string>
	<key>GCM_SENDER_ID</key>
	<string>23788546894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cakeApp</string>
	<key>PROJECT_ID</key>
	<string>cakeapp-e52af</string>
	<key>STORAGE_BUCKET</key>
	<string>cakeapp-e52af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23788546894:ios:0e53f3f690089403ae8c1f</string>
</dict>
</plist>